## Color
alias ls='ls --color=auto -F'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

## ls
alias la='ls -A'
alias ll='ls -Al'

## free
alias free='free -h'

## vim
alias v='nvim'

## SSH
alias ssh='ssh -Y'
ssht() { ssh -t "$1" "tmux new-session -A -s ${2:-main}" }

## Package Manager
alias pinstall='sudo pacman -S'
alias premove='sudo pacman -Rs'
alias pupdate='sudo pacman -Syu && paccache -ruk0'
alias pmirror='sudo pacman-mirrors --continent && sudo pacman -Syyu'

## Arch User Repository
alias yay='yay --aur'
alias archupdate='yay -Syu && paccache -r && paccache -ruk0'
